.panel {
  background: white;
  color: hsl(0, 0%, 25%);
  border-radius: 5pt;
  padding: 10pt;
  margin: 5pt 10pt;
  transition: all 1s;
  cursor: default;
  box-shadow: 0 2px 1px 1px hsl(0, 0%, 80%);
}

.panel hr {
  height: 1px;
  background-color: hsl(0, 0%, 90%);
  border: none;
}

.panel .title {
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: 2px solid hsl(0, 0%, 80%);
  padding: 2pt 2pt 8pt 2pt;
  margin-bottom: 8pt;
  color: hsl(0, 0%, 20%);
}

.panel .field {
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-right: 5pt;
}

.panel:hover {
	box-shadow: 0 2px 3px 1px hsl(0, 0%, 60%);
}

#control {
  position: fixed;
  bottom: 0;
  left: 0;
}
